<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <connectionStrings>
    
    <!--<add name="Conex" connectionString="Data Source=BOG-DRLTZM2\SQLEXPRESS;Initial Catalog= Jardin; UID = Admin; PWD = 123456789"/>-->
   
    <add name="Conex" connectionString="Data Source=DESKTOP-QHGVT4F\SQLEXPRESS;Initial Catalog= Jardin; UID = Admin; PWD = 123456789"/>
  
  
  </connectionStrings>
  
  
</configuration>